<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <img src="<%= company.logo %>", width = 150px,
  </p>

  <p>
    <strong>Description:</strong>
    <%= company.description %>
  </p>

</div>
