<div class="bg-light bg-opacity-30">
<div class="container-fluid">
<div class="d-flex justify-content-center">

    <% @companies.each do |company| %>
<div class="card " style="width: 30rem;">
  <img src="<%= company.logo %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= company.name %></h5>
    <p class="card-text"><%= company.description %></p>
    <button type="button" class="btn btn-outline-primary">
    <%= link_to "Show this company", company_path(company) %> 
    </button>
  </div>
    <% end %>


</div>
</div>
</div>
